name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}


    - name: Deploy CloudFormation stack
      run: |
        aws cloudformation deploy \
          --template-file infrastructure.yml \
          --stack-name mini-ci-cd-stack \
          --capabilities CAPABILITY_NAMED_IAM
    - name: Upload WebApp to EC2
      run: |
        EC2_PUBLIC_IP=${{ secrets.EC2_PUBLIC_IP }}

        scp -o StrictHostKeyChecking=no \
            -i ~/.ssh/webapp-key \
            -r webapp/* \
            ec2-user@$EC2_PUBLIC_IP:/var/www/html/
